- @name = @company.name
#show
.company
	.name= @company.name
	.address= @company.address
	.city= @company.city
	.country= @company.country
	.email= @company.email
	.phone= @company.phone
  

%p= link_to 'View all companies', url_for(:companies, :index)