- @name = @company.name
#show
  .company
    .name= @company.name
    .address= @company.address 
    .city= @company.city
    .country= @company.country
    .email= @company.email	
    %p
    %p= link_to 'Edit', url_for('admin/companies/edit/' + params[:id].to_s)
    %p
    %p= link_to 'View all companies', url_for(:companies, :index)